<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th><th>Address</th><th>Status</th></th><th>DO1</th><th>DO2</th><th>DO3</th><th>DO4</th><th>DO5</th><th>DO6</th><th>DO7</th><th>DO8</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>cupboard1</td><td>10.76.16.30:8899</td><td>CONNECTED</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td>cupboard2</td><td>10.76.16.33:8899</td><td>CONNECTED</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td>dev1</td><td>10.76.16.32:8899</td><td>CONNECTED</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        </tbody>
    </table>
</body>
</html>